:root{
    --main-header: #000000;
    --main-content: #8F95A5;
    --logo: #939393;
    --header-link: #263238;
    --btn: #FFFFFF;
    --number: #2A3246;
    --per-month: #546269;
    --card-color: #F5F5F5;
    --cost:#EEEEEE;
    }

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main-content);
    }

    h1, h2, h3, h4, p, ul {
        margin: 0;
        padding: 0;
    }

    a {
        display: block;
    }

.link {
        cursor: default;
        text-decoration: none;
    }

.list{
        list-style-type: none;
        padding: 0px;
    }

.container {
    width: 1338px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

.section{
    padding-bottom: 180px;
}

.header{
    padding: 55px 0;
}

.logo {
        color: var(--logo);
        font-size: 36px;
        line-height: 54px;
        letter-spacing: 0.03em;
    }

.brit{
        color: var(--main-header);
    }

.nav .list .link {
        font-weight: 500;
        font-size: 20px;
        color: var(--header-link);
    }

.btn-white {
    margin-left: auto;


    width: 312px;
    height: 70px;

    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-header);
    background-color: transparent;
    border: 2px solid #263238;
    border-radius: 10px;
    }

.heder-item {
    display: flex;
    align-items: center;
}

.heder-item .nav {
    display: flex;
    align-items: center
}

.nav-item {
    display: flex;
    margin: 0 0 0 228px;
}
.nav-item li:not(:last-child) {
 margin-right: 50px;
}

.nav-item a{
display: block;
}

    /* hero */

.header-column{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.hero{
    font-size: 24px;
}

.column-first{
width: 540px;
}

.hero-title {
    margin-bottom: 40px;

    font-weight: 600;
    font-size: 64px;
    line-height: 1.25;
    color: var(--main-header);
    text-transform: capitalize;
}

.hero-txt {
    margin-bottom: 60px;
}

.btn-black {
    text-align: center;
    color: var(--btn);
    background-color: var(--header-link);
    border-radius: 10px;
}

.hero .btn-black {
    width: 426px;
    height: 100px;

    font-size: 36px;
    letter-spacing: 0.03em;
}

.title {
    margin-bottom: 60px;

    font-weight: 600;
    font-size: 48px; 
    color: var(--main-header);
    text-transform: capitalize;
}

/* skills*/

.skills .title{
    text-align: center;
}

.card {
    display: flex;
    justify-content: space-between;
}

.card-vertical {
    width: 426px;
    background-color: var(--card-color);
    
}

.card li {
    padding: 32px 18px ;
}


.card>li,
.card-two{
    margin-right: 30px;
}


.cards-column{
    display: flex;
    margin-bottom: 30px;
}


.card-horizontal{
display:flex;
width: 882px;
background-color: var(--card-color);
}

.header-card {
    font-weight: 600;
    font-size: 30px;  
    color: var(--header-link);
}

.title-card{
    margin: 24px 0 20px 0;
}

.last-title {
margin-bottom: 20px;
}

.firs-paragraph {
    margin-bottom: 24px;
}

.skills .btn-black {
    margin-top: 30px;
    padding: 17px 63px 16px 64px;
    width: 230px;
    height: 60px;
    


    font-weight: 500;
    font-size: 18px;
}

.center-link {
text-align: center;
width: 100%;
}

/* about us*/

.about {
font-size: 20px;
line-height: 1.8;
}

.number {
    font-weight: 600;
    font-size: 48px;
    color: var(--number);
}

.category {
    font-size: 20px;
}

.about-column {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.checklist {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.checklist p{
    display: block;
    text-align: center;
}

.about-first{
    width: 652px;
}

.header-pricing{
    font-weight: 600;
    font-size: 30px;
    line-height: 1.6;
    text-transform: capitalize;
    color: var(--header-link);
}

.text {
    font-size: 20px;
}

.cost{
    background-color: var(--cost);
    font-size: 18px;
    color: var(--per-month);
}

.money {
    font-size: 24px;
    color: var(--header-link);
}

.enter-mail {
line-height: 1.88;
}

/*footer*/

.footer-item {
    font-size: 24px;
    letter-spacing: 0.02em;
    color: var(--main-content);
}



