.contacts {
    text-align: center;
    padding-bottom: 53px;
}

.email {
    margin-top: 31px;
}

.email__enter {
    height: 70px;
    padding: 20px 30px;
    line-height: 1.88;
    border: 1px solid #8F95A5;
    border-radius: 10px;
    width: 100%;
}

.email__btn {
    @extend %btn;
    margin: 17px 0 0 0;
    background-color: rgba(38, 50, 56, 1);
    color: rgba(255, 255, 255, 1);
    height: 70px;
    width: 100%;
    padding: 20px 56px;

}