.hero__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    color: var(--main-header);
    text-transform: capitalize;
    text-align: center;
}

.hero__title--mobile{
    display: block;
    @media screen and (min-width: 575px) {
        display: none;
    }
}
.hero__title--tablet {
    display: none;
    @media screen and (min-width: 575px) and (max-width: 767px){
    display: block;
    }
}

.hero__title--desktop {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
    }
}


.hero__title--margin {
    margin: 16px 0 20px 0;
}

.hero__txt {
    text-align: center;
    @media screen and (min-width: 575px) {
        width: 486px;
        font-size: 16px;
    }
}

.hero__btn {
    @extend %btn; 
    color: var(--btn);
    background-color: var(--header-link);
}

.lamp {
    display: none; 
}