@media screen and (min-width: 768px) {
    .learn{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row-reverse;
    position: relative;
    }
}

.hero__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    color: var(--main-header);
    text-transform: capitalize;
    text-align: center;
    @media screen and (min-width: 768px) {
        text-align: start;
    }

}

.hero__title--mobile{
    display: block;
    @media screen and (min-width: 575px) {
        display: none;
    }
}
.hero__title--tablet {
    display: none;
    @media screen and (min-width: 575px) and (max-width: 767px){
    display: block;
    }
}

.hero__title--desktop {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
        font-size: 36px;
    }
}


.hero__title--margin {
    margin: 16px 0 20px 0;
}

.hero__txt {
    text-align: center;
    @media screen and (min-width: 575px) {
        width: 486px;
        font-size: 16px;
    }

    @media screen and (min-width: 768px) {
        text-align: start;
        width: 338px;
    }

}

.hero__btn {
    @extend %btn; 
    color: var(--btn);
    background-color: var(--header-link);
    @media screen and (min-width:768px) {
        margin: 32px 0 0 0;
        width: 236px;
    }
}

.lamp {
    display: none; 
    @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    top: 134px;
    left: 224px;
    transform: translateY(-50%) rotate(38deg);
    }

    // 85
}