%btn {
    display: block;
    margin: 33px auto 0 auto;


    width: 289px;
    height: 60px;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-header);
    background-color: transparent;
    border: 2px solid #263238;
    border-radius: 10px;
}

%title {
    margin-bottom: 32px;

    font-weight: 600;
    font-size: 24px;
    line-height: 3.33;
    text-align: center;
    color: var(--main-header);
    text-transform: capitalize;
}